doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        block styles
    body 
        div.container
            header.header
                div.header__User-search
                    div.header__User-search-wrapper
                        img.header__User-search-img(src="/assets/icons/search/search.svg", alt="")
                        input.header__User-search-input(type="search")
                nav.header__navigation 
                    li.header__navigation-items.active
                        a.header__navigation-link(href="/") home
                    li.header__navigation-items
                        a.header__navigation-link(href="/signIn") signIn
                    li.header__navigation-items
                        a.header__navigation-link(href="profiles") profiles

                div.header__profile-user
                    div.header__profile-user-wrapper 
                        img.header__profile-user-profile(src="/assets/icons/users/user.svg", alt="")
                        div.header__profile-user-username
                            h3 mahdi 
                            p mamashli
                    div.info__user-modal
                        div.info__user-username
                            h4 username:
                            p m__mdy__m
                        div.info__user-age
                            h4 age:
                            p 19
                        div.info__user-family
                            h4 family:
                            p mamashli
                        div.info__user-name
                            h4 name:
                            p mahdi


            block content 
            

            footer.footer
    script(src="/js/header.js") 
    block scripts 