<%- include('includes/base.ejs') %>
<%- include('includes/header.ejs') %>
    <link rel="stylesheet" href="/css/home/home.css" />
  </head>
  <main class="page__home">
    <h2 class="page__home-text">home</h2>
  </main>
<%- include('includes/footer.ejs') %>
<%- include('includes/end.ejs') %>