@import "variables";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100%;
  background-color: $color__Greyscale-900;
}
.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 10% 70% 20%;
  margin: 0 auto;
  padding: 0 5rem;
}
