// ==========================================Color__Greyscale==========================================
$color__Greyscale-50 : #ffffff;
$color__Greyscale-100: #f8fafb;
$color__Greyscale-200: #f3f7f9;
$color__Greyscale-300: #eaeff3;
$color__Greyscale-400: #dfe6ec;
$color__Greyscale-500: #d4dbe1;
$color__Greyscale-600: #b0b7c3;
$color__Greyscale-700: #8d98af;
$color__Greyscale-800: #6978a0;
$color__Greyscale-900: #081131;
// ==========================================Color__Primary==========================================
$color__Primary-50  : #F0EAFF;
$color__Primary-100 : #E4D9FF;
$color__Primary-200 : #D3C0FF;
$color__Primary-300 : #C8AFFF;
$color__Primary-400 : #B496F9;
$color__Primary-500 : #A882FE;
$color__Primary-600 : #976BFA;
$color__Primary-700 : #8251F2;
$color__Primary-800 : #753DF3;
$color__Primary-900 : #7541EA;
// ==========================================Color__Secondary==========================================
$color__Secondary-50 : #E6F9FF;
$color__Secondary-100: #CDF3FF;
$color__Secondary-200: #B4ECFF;
$color__Secondary-300: #9BE6FF;
$color__Secondary-400: #82E0FF;
$color__Secondary-500: #6ADAFF;
$color__Secondary-600: #51D4FF;
$color__Secondary-700: #51D4FF;
$color__Secondary-800: #1FC7FF;
$color__Secondary-900: #06C1FF;
// ==========================================Color__Alerts==========================================
$color__Alerts-Warning: #FACC15;
$color__Alerts-Error: #F15B5B;
$color__Alerts-Success: #4ADE80;
// ==========================================Color__Additional==========================================
$color_Additional-orange : #FB923C;
$color_Additional-Violet : #4ADE80;
$color_Additional-Pink : #EE5DA5;
$color_Additional-Amber : #FBBF24;
