@import "base.scss";

.header{
    width: 100%;
    height: 2rem;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__navigation{

    }
    &__User-search{

    }
    &__profile-user{

    }
}