@import "variables";
.header {
  width: 100%;
  height: 4rem;
  background-color: $color__Alerts-Success;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__navigation {
  }
  &__User-search {
  }
  &__profile-user {
  }
}
