.header {
  width: 100%;
  height: 3rem;
  display: grid;
  grid-template-columns: 20% 60% 20%;
}
.header > * {
  width: 100%;
  height: 100%;
}
.header__User-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__User-search-wrapper {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  width: 70%;
  height: 100%;
  position: relative;
  margin-bottom: 10px;
}
.header__User-search-img {
  position: absolute;
  left: 0;
  bottom: -2px;
  padding: 4px;
  background-color: rgba(16, 97, 90, 0.8156862745);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
}
.header__User-search-input {
  opacity: 0.7;
  transition: all 2s;
  border: none;
  background-color: rgba(16, 97, 90, 0.8156862745);
  padding: 4px 2px;
  color: #ffffff;
  width: 50%;
  border-radius: 0 8px 8px 0px;
  outline: none;
  margin-left: 1rem;
  padding-left: 1rem;
  margin-bottom: 1px;
}
.header__User-search-input::-webkit-search-cancel-button {
  appearance: none;
  -webkit-appearance: none;
  -webkit-appearance: none;
}
.header__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__navigation > * {
  width: 100%;
  height: 100%;
}
.header__navigation-items {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.header__navigation-items::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin: 0 auto;
  height: 1px;
  width: 50%;
  background-color: #B4ECFF;
  transform-origin: right;
  transition: all ease 0.7s;
  transform: scale(0);
}
.header__navigation-items::after {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin: 0 auto;
  height: 2px;
  width: 50%;
  background-color: #8251F2;
  transform-origin: right;
  transition: all ease 0.7s;
  transform: scale(0);
}
.header__navigation-items:hover::before {
  transform: scale(1);
}
.header__navigation-items:hover::after {
  transform: scale(0.8);
}
.header__navigation-link {
  text-decoration: none;
  font-size: 22px;
  color: #8d98af;
  font-family: "SatoshiMedium";
  text-transform: capitalize;
  position: relative;
}
.header__profile-user {
  display: flex;
  position: relative;
}
.header__profile-user-wrapper {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 20% minmax(80%, 1fr);
  width: 70%;
  height: 100%;
  cursor: pointer;
  align-items: center;
}
.header__profile-user-profile {
  padding: 2px;
  width: 40px;
  height: 40px;
  background-color: red;
  margin: 0 auto;
  border-radius: 50%;
}
.header__profile-user-username {
  font-family: "SatoshiRegular";
  color: #dfe6ec;
  text-transform: capitalize;
  margin-left: 10px;
}
.header__profile-user-username h3 {
  text-transform: uppercase;
  font-size: 16px;
}
.header__profile-user-username p {
  font-size: 12px;
}

.info__user-modal {
  position: absolute;
  width: 18rem;
  height: 0;
  visibility: hidden;
  opacity: 0;
  transition: all 1s ease-in-out;
  background-image: linear-gradient(to bottom, rgba(54, 106, 151, 0.4235294118), rgba(49, 94, 143, 0.4196078431), rgba(46, 86, 135, 0.4196078431), rgba(43, 77, 127, 0.4039215686), rgba(40, 67, 118, 0.1647058824));
  inset: 136% 0px 0% -50px;
  border-radius: 12px;
  display: grid;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  border: 1px solid rgba(255, 255, 255, 0.5215686275);
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.info__user-modal::before {
  content: "";
  position: absolute;
  background-color: rgba(54, 106, 151, 0.4235294118);
  border: 1px solid rgba(255, 255, 255, 0.5215686275);
  inset: -20% 0 auto 0;
  margin: 0 auto;
  width: 20px;
  height: 20px;
  background-color: fff;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.info__user-modal > * {
  width: 100%;
  height: 100%;
  font-family: "SatoshiLight";
  font-size: 14px;
  text-transform: capitalize;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: relative;
  color: #dfe6ec;
}
.info__user-modal > div > h4::before {
  position: absolute;
  content: "";
  inset: auto 0 0 0;
  margin: 0 auto;
  width: 20px;
  height: 4px;
  background-color: #FBBF24;
  -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
          clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.info__user-modal > div > h4 {
  color: #6978a0;
  font-size: 16px;
  font-family: "SatoshiBold";
}
.info__user-modal > div > p {
  text-transform: uppercase;
}
.active {
  position: relative;
}
.active::before {
  content: "";
  position: absolute;
  inset: auto 0 0 0;
  margin: 0 auto;
  height: 1px;
  background-color: #82E0FF;
  width: 50%;
  transform: scale(1);
}
.active::after {
  transform: scale(1);
  background-color: transparent;
}

.showInput {
  width: 100%;
  transition: all 2s;
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=header.css.map */